<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="content-language" content="pt-br" />
    <base href="{global.baseUrl}" />

    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{global.description}" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" media="screen" />
    <link rel="stylesheet" href="public/app.css" type="text/css" media="screen" />
    <script src="public/app.js" charset="utf-8"></script>
  </head>
  <body class="{body.class}">
    <div class="wrapper">
      <div class="header">
        <a href="/" class="logo">
          <img alt="Logo" src="public/logo.png"/>
        </a>

        <ul class="menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/account/create" class="loggedOut">Singup</a>
          </li>
          <li>
            <a href="/session/create" class="loggedOut">Login</a>
          </li>
          <li>
            <a href="/checks/all" class="loggedIn">Dashboard</a>
          </li>
          <li>
            <a href="/account/edit" class="loggedIn">Account Settings</a>
          </li>
          <li>
            <a href="/#" class="loggedIn">Logout</a>
          </li>
        </ul>

        <div class="clear"></div>
      </div>
      <div class="content">
