<h1>{head.title}</h1>
<h2>{head.description}</h2>

<div class="formWrapper">
  <form id="sessionCreate" class="sessionCreate" method="POST" action="api/tokens">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel"></div>
      <input name="phone" type="text" placeholder="11999999999"/>
    </div>
    <div class="inputWrapper">
      <div class="inputLabel"></div>
      <input name="password" type="password" placeholder="********"/>
    </div>
    <div class="inputWrapper">
      <button type="submit" class="cta blue">Login</button>
    </div>
  </form>
</div>
